*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
    
}

.costas, .biceps{
    background-color: #EF0107;
}

.peito, .triceps{
    background-color: #0000FF;
}
.quadriceps{
    background-color: #32de84;
}
.posterior, .gluteo{
    background-color: #568203;
}

.panturrilha{
    background: radial-gradient(circle, rgba(50,222,132,1) 34%, rgba(86,130,3,1) 75%);
}
.abdomen{
    background: #043927;

}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: linear-gradient(red,violet); */
    background: #1E90FF;
    padding-bottom: 0.5em;
    
}

h1{
    grid-column: span 3;
    text-align: center;
    padding: 0.8em;
    color: #1F305E;
    
    border-bottom: 0.1em solid black;
    text-shadow: 3px 0 1px white;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-grow: 1;
    margin-top: 0.5em;
    padding: 0.5em;
    
}

nav a{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    position: relative;
    font-weight: bold;
    margin: 0.5em;
    border-radius: 0.3em;
    background: #1F305E;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 10px white;
    
}
nav a:hover{
    background: rgb(148,63,251);
    background: radial-gradient(circle, rgba(148,63,251,1) 47%, rgba(252,70,242,1) 100%);;
}
nav a::before{
    content: "";
    height: 4px;
    width: 0;
    left: 50%;
    bottom: 0;
    background-color: #1E90FF;
    position: absolute;
    display: block;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
    border-radius: 50%;
    
}
/* nav a::after{
    content: "";
    height: 2px;
    background-color: black;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
} */

nav a:hover::before, nav a:hover::after{
    width: 80%;
}

main{
    
    background: #1E90FF;
    color: white;
    border-top: 0.2em solid #1F305E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article{
    flex: 1;
    flex-grow: 1;
    width: 100%;
}

.container{
    padding: 0.5em;
    flex: 1;
}

h2{
    text-transform: uppercase;
    color: #1F305E;
    background-color: white;
    display: block;
    padding: 0.3em;
    text-align: center;
    border-radius: 0.2em;
    margin-bottom: 1em;

}

.descricao{
    
}

.dados{
    color: #1F305E;
    border: 3px solid #1F305E;
    border-radius: 0.4em;
    box-shadow: 0 0 5px #1F305E;
    text-align: center;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    flex: 1;
    
}

.dados h3{
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    background: #1F305E;
    border-radius: 0.3em;
    padding: 0.5em;
    color: white;
    text-decoration: underline;
    font-size: 1.2em;
    cursor: pointer;
}

.dados img{
    width: 100%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 1;
    display: none;
    margin-bottom: 1.5em;
    outline: 3px solid black;
    border-radius: 0.2em;
}

.dados a{
    text-decoration: none;
    color: white;
    background-color: #1F305E;
    padding: 0.5em;
    margin-top: 2em;
    display: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 0.3em;
}

.dados a:hover{
    background: radial-gradient(circle, rgba(243,63,251,1) 27%, rgba(180,65,251,1) 58%, rgba(184,66,251,1) 77%, rgba(201,70,252,1) 89%);}


.inicio{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1.5em;
    border: 2px solid #1F305E;
    margin-right: 0.5em;
    margin-left: 0.5em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    border-radius: 1em;
    background-color: white;
    color: #1E90FF;
    width: 5em;
   
    
}

.inicio:hover{
    background-color: #1F305E;
    color: #1E90FF;
}


div.dados img.display-on {
    display: block;
  }
  
  div.dados a.display-on {
    display: block;
  }
  